<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script type="application/javascript" src="./bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="./js/jquery/jquery-2.2.1.js"></script>
    <title><%= name %>></title>
    <style>
        .holder-vh-90{
            height: 90vh;
            width: 100vw;
            display: flex;
        }
        .flex-center{
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="holder-vh-90">
            <div class="flex-center text-center">
                <h1>Lane<span style="color: tomato">Js</span></h1>
                <h3 class="btn-lg btn-danger"><%= name %></h3></div>
        </div>
    </div>
</body>
</html>
